{% extends 'base.html' %}
{% load custom %}

{% block page-container %}
    <div class="wrap-left">
        {% for article in article_list %}
            <div class="article-box row">
                <div class="article-head-img col-md-4">
                    <img src="/static/{{ article.head_img|truncate_url }}">
                </div>
                <div class="article-brief col-md-8">
<!--                    #title的超链接需要把文章的id传到后台-->
                    <a  class="article-title" href="{% url 'article_detail' article.id %}">{{ article.title }}</a>

                    <div class="article-brief-info">
                        <span>
                            {{ article.author.name }}
                        </span>
                        <span>
                            {{ article.pub_date }}
                        </span>
                        <span>
                            {% filter_comment article as comments %}
                        </span>
                        <span class="glyphicon glyphicon-comment" aria-hidden="true">{{ comments.comment_count }}</span>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">{{ comments.thumb_count }}</span>
                    </div>
                    <div class="article-brief-text">
                        <span>
                            {{ article.brief }}
                        </span>
                    </div>
                </div>
            </div>
            <hr/>
        {% endfor %}
    </div>
    <div class="wrap-right">
            right
    </div>
    <div class="clear-both">

    </div>
{% endblock %}