{% extends 'base.html' %}
{% load custom_tags %}


{% block page-header %}
    客户信息列表
{% endblock %}

{% block page-content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>QQ</th>
                <th>姓名</th>
                <th>渠道</th>
                <th>咨询课程</th>
                <th>课程类型</th>
                <th>客户备注</th>
                <th>状态</th>
                <th>课程顾问</th>
                <th>日期</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customer_list %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.qq }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.source }}</td>
                    <td>{{ customer.course }}</td>
<!--                    显示数据库里面的中文字段-->
                    <td>{{ customer.get_course_type_display }}</td>
<!--                    网页限制限制30个字-->
                    <td>{{ customer.consult_memo|truncatechars:30 }}</td>
<!--                    显示数据库里面的中文字段-->
<!--                    <td class="{{ customer.status }}">{{ customer.get_status_display }}</td>-->
                    <td class="{{ customer.status }}">{{ customer.status|zx_upper }}</td>
                    <td>{{ customer.consultant }}</td>
                    <td>{{ customer.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>







<!--这里只是展示了页码下面的显示是多少-->
<div class="pagination">




        <nav aria-label="...">
            <ul class="pagination">
<!--                3.如果没有上一页，那么就不显示上一页了-->
                {% if customer_list.has_previous %}
<!--                    4.完善上一页下一页按钮功能-->
                    <li class="disabled"><a href="?page={{ customer_list.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                {% endif %}
                {% for page_num in customer_list.paginator.page_range %}
<!--                    2.如 page.num==customer_list.number相同，那么代表是当前页，那么，就会加上class=active，给当前页加个颜色标识-->
                    {% if page_num == customer_list.number %}
<!--                    1.href连接到当前页，页面显示当前页-->
                        <li class="active"><a href="?page={{ page_num }}">{{ page_num }} </a></li>
                    {% else %}
                        <li class=""><a href="?page={{ page_num }}">{{ page_num }} </a></li>
                    {% endif %}
                {% endfor %}

<!--                3.如果没有下一页，那么就不显示下一页了-->
                {% if customer_list.has_next %}
<!--                    4.完善上一页下一页按钮功能-->
                    <li class="disabled"><a href="?page={{ customer_list.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            </ul>
        </nav>




    <span class="step-links">
<!--        如果获取有没有上一页，如果有的话，显示第一页和获取上一页的页码-->
        {% if customer_list.has_previous %}
<!--            那么显示最前面的第一页-->
            <a href="?page=1">&laquo; first</a>
<!--                以及获取上一页的页码-->
            <a href="?page={{ customer_list.previous_page_number }}">上一页</a>
        {% endif %}

<!--        如果是当前页，显示当前所在分页以及最大的分页内容-->
        <span class="current">
            Page {{ customer_list.number }} of {{ customer_list.paginator.num_pages }}.
        </span>

<!--        如果有下一页，显示下一页的内容以及最后一页的最大页码-->
        {% if customer_list.has_next %}
            <a href="?page={{ customer_list.next_page_number }}">next</a>
            <a href="?page={{ customer_list.paginator.num_pages }}">最后一页 &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}